#header {
  width: 100%;
  background-color: brown;
  height: 80px;

}
.nav-button {
  margin-left: 20px;
  padding:10px;
  border: 0;
  border-radius: 10px 10px 0 0;
  color: brown;
  background-color: gainsboro;
}
